<nav class="category-menu">
  <div class="container">
    <ul class="category-menu-list">
      {% for category in top_categories %}
        <li class="category-menu-item{% if category.children.all %} has-dropdown{% endif %}">
          <a href="{% url 'category_or_product' slug=category.slug %}" class="category-menu-link category-link">{{ category.name }}</a>
          {% if category.children.all %}
            <div class="category-dropdown">
              <ul class="subcategory-list">
                {% for subcat in category.children.all|dictsort:"name" %}
                  <li class="subcategory-item{% if subcat.children.all %} has-children{% endif %}">
                    <a href="{% url 'category_or_product' slug=subcat.slug %}" class="subcategory-link category-link">{{ subcat.name }}</a>
                    {% if subcat.children.all %}
                      <div class="subcategory-canvas">
                        <ul class="third-level-list">
                          {% for subsubcat in subcat.children.all|dictsort:"name" %}
                            <li class="third-level-item{% if subsubcat.children.all %} has-children{% endif %}">
                              <a href="{% url 'category_or_product' slug=subsubcat.slug %}" class="third-level-link category-link">{{ subsubcat.name }}</a>
                              {% if subsubcat.children.all %}
                                <div class="fourth-level-canvas">
                                  <ul class="fourth-level-list">
                                    {% for fourthcat in subsubcat.children.all|dictsort:"name" %}
                                      <li class="fourth-level-item{% if fourthcat.children.all %} has-children{% endif %}">
                                        <a href="{% url 'category_or_product' slug=fourthcat.slug %}" class="fourth-level-link category-link">{{ fourthcat.name }}</a>
                                        {% if fourthcat.children.all %}
                                          <div class="fifth-level-canvas">
                                            <ul class="fifth-level-list">
                                              {% for fifthcat in fourthcat.children.all|dictsort:"name" %}
                                                <li class="fifth-level-item">
                                                  <a href="{% url 'category_or_product' slug=fifthcat.slug %}" class="fifth-level-link category-link">{{ fifthcat.name }}</a>
                                                </li>
                                              {% endfor %}
                                            </ul>
                                          </div>
                                        {% endif %}
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav> 